{{ form_start(form) }}
  {{ form_row(form.villeDepart) }}
  {{ form_row(form.villeArrivee) }}
  {{ form_row(form.dateDepart) }}
  {{ form_row(form.placesDisponibles) }}
  {{ form_row(form.prix) }}
  {{ form_row(form.typeVehicule) }}
  {{ form_row(form.energie) }}
  {{ form_row(form.commentaire) }}
  <button type="submit" class="btn btn-success rounded-pill mt-3 px-4">Publier le trajet</button>
{{ form_end(form) }}
